<div class="event">
    <div class="event-inner">
        <div class="icon">
            <i class="fa fa-2x <%= schedule_event.icon %>"></i>
            <span class="time"><%= schedule_event.start_time.strftime("%H:%M") %></span>
        </div>

        <div class="description">
            <h3><%= schedule_event.name %></h3>
            <p><%= schedule_event.description %></p>
            <span class="name"><%= schedule_event.instructor %></span>
        </div>
    </div>
</div>
