<br>
<div class="row pov">
    <div class="large-10 small-centered columns">
        <%= image_tag('swift-course.png', alt: 'picture of space') %>
    </div>
</div>

<div class="row copy">
  <div class="small-12 small-centered columns">
    <p>Students will gain an understanding of the iOS App process by building fully functioning apps.  Each project will walk you step by step through development, starting with an empty project until that project is complete. Designed to give you a solid foundation, you will experience most of the components Apple provides as well as excellent third-party components. Additionally, you will have access to screencasts of the most popular 3rd party libraries and how to bring them into your app.</p>
  </div>
</div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <%= form_tag 'mailing_list/subscribe', method: 'POST', id: 'subForm', 'data-has-zcom-email-handler': 1 do %>
        <div class="input-group">
          <%= email_field_tag :email, nil, id: 'fieldEmail', placeholder: 'Enter your email here' %>
          <div class="input-group-button">
            <button type="submit" class="postfix button custom-button">Subscribe</button>
          </div>
        </div>
        <p class="callout hide" id="emailHelp"></p>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="title small-12 small-centered columns">
    <h2>Upcoming Workshops</h2>
    <small>Hands On</small>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="course">
      <a href="https://forwardcourses.com/workshops/13" target="blank">
        <h5>Soccer Pong</h5>
        <small>Sprite Kit and Apple TV</small>
        <p>
          <small class="date">July 27</small>
          <small class="bullet">•</small>
          <small>Learn More</small>
        </p>
        <p><%= image_tag('soccer-pong-small.png', alt: 'image for article') %></p>
      </a>
    </div>
  </div>

  <div class="small-12 large-6 columns">
    <div class="course">
      <a href="http://360idev.com/sessions/defend-universe-super-cat-using-sprite-kit-apple-tv/" target="blank">
        <h5>Super Cat</h5>
        <small>Sprite Kit and Apple TV</small>
        <p>
          <small class="date">August 21</small>
          <small class="bullet">•</small>
          <small>Learn More</small>
        </p>
        <p><%= image_tag('supercat-small.png', alt: 'image for article') %></p>
      </a>
    </div>
  </div>
</div>



<div class="row">
  <div class="title small-12 small-centered columns">
    <h2>Online Courses</h2>
    <small>Learn at your own pace</small>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="course box">
      <div class="ribbon"><span>FREE</span></div>
      <h5>Swift 3 - Coming Soon</h5>
      <small>Learn the basics of swift.</small>
      <p><%= image_tag('swift-course-small.png', alt: 'image for article', width: '380', height: '246') %></p>
    </div>
  </div>
</div>
