<div class="row pov">
  <div class="large-12 columns">
    <h1 class="text-center">
      Swift 101
      <small>Getting started</small>
      <small>March 30th - April 1st, 2017</small>
    </h1>
    <%= image_tag('demo.png', alt: 'picture of space') %>
  </div>
</div>

<div class="row copy">
  <div class="small-12 small-centered columns">
    <p>In this workshop, we will build a Square Cash clone called My Dinero. During the one day workshop, we will use features such as SiriKit, Contacts and TouchID for security. There is no experience necessary for attending this workshop. The instructor, Craig Clayton, who wrote the book iOS 10 Programming for Beginners, will guide you step by step in buidling an iOS app. By the end of the workshop, you will have a better understanding of how to create an iOS app for the lastest iOS.</p>
  </div>
</div>

<div class="row">
    <div class="large-12 columns">
      <p class="text-center">
        <a href="https://www.crowdcast.io/e/swift101" class="button custom-button" target="blank">BUY TICKET</a>
      </p>
    </div>
</div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <%= form_tag 'mailing_list/subscribe', method: 'POST', id: 'subForm', 'data-has-zcom-email-handler': 1 do %>
        <div class="input-group">
          <%= email_field_tag :email, nil, id: 'fieldEmail', placeholder: 'Enter your email here' %>
          <div class="input-group-button">
            <button type="submit" class="postfix button custom-button">Subscribe</button>
          </div>
        </div>
        <p class="callout hide" id="emailHelp"></p>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="title small-12 small-centered columns">
    <h2>Upcoming Workshops</h2>
    <small>Hands On</small>
  </div>
</div>

<div class="row">
 <div class="small-12 large-6 columns">
    <div class="course box">
      <div class="ribbon"><span>FREE</span></div>
      <a href="https://www.crowdcast.io/e/intro-to-storyboarding">
        <h5>Intro to Storyboarding</h5>
        <p class="homeevent-details">
          <small class="date">March 30th, 2017</small>
          <small class="bullet">•</small>
          <small class="date">Online</small>
        </p>
        <p><%= image_tag('intro-storyboard.png', alt: 'Intro to Storyboarding') %></p>
      </a>
    </div>
  </div>
    
  <div class="small-12 large-6 columns">
    <div class="course">
      <a href="https://www.crowdcast.io/e/swift101">
        <h5>Swift 101: Getting Started</h5>
        <p>
          <small class="date">April 1st, 2017</small>
          <small class="bullet">•</small>
          <small class="date">Online</small>
        </p>
        <p><%= image_tag('swift-101.png', alt: 'Getting Started in iOS') %></p>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="title small-12 small-centered columns">
    <h2>Past Workshops</h2>
    <small>Hands On</small>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="course">
      <a href="https://forwardcourses.com/workshops/13" target="blank">
        <h5>Soccer Pong</h5>
        <small>Sprite Kit and Apple TV</small>
        <p>
          <small class="date">July 27</small>
          <small class="bullet">•</small>
          <small>Learn More</small>
        </p>
        <p><%= image_tag('soccer-pong-small.png', alt: 'image for article') %></p>
      </a>
    </div>
  </div>

  <div class="small-12 large-6 columns">
    <div class="course">
        <h5>Super Cat</h5>
        <small>Sprite Kit and Apple TV</small>
        <p>
          <small class="date">August 21</small>
          <small class="bullet">•</small>
          <small>Learn More</small>
        </p>
        <p><%= image_tag('supercat-small.png', alt: 'image for article') %></p>
    </div>
  </div>
</div>



<div class="row">
  <div class="title small-12 small-centered columns">
    <h2>Online Courses</h2>
    <small>Learn at your own pace</small>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="course box">
      <div class="ribbon"><span>FREE</span></div>
      <h5>Swift 3 - Coming May 2017</h5>
      <small>Learn the basics of swift.</small>
      <p><%= image_tag('swift-course-small.png', alt: 'image for article', width: '380', height: '246') %></p>
    </div>
  </div>
</div>
