<!-- Banner -->
<div class="banner">
    <div class="container">
        <div class="center">
            <h1 class="title">Start Learning iOS Development in 2016</h1>
            <p>So you have an app idea that will make you a jillion bucks but don’t know where to begin. Learn the tools and what it takes to create the next big app in 2016. Cocoa Academy brings iOS workshops to the Tampa and St. Petersburg area. Sign up now and don't let someone snag your big app idea!</p>
        </div>
    </div>
</div>
<!-- Event Form -->
<section class="eventform newsection">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <small>Sign up for the Cocoa Academy</small>
            <h2 class="title">newsletter</h2>
        </div>
        <div class="col-md-9 eventform-con">
          <% if cookies[:saved_lead] %>
            <small>Thanks for signing up!</small>
          <% else %>
            <%= form_for @lead, html: {id: "contactform" }  do |f| %>
              <div class="form-input "><%= f.text_field :name, id: "contactname", class: "textflied", placeholder: "Name" %>
              <i class="icon fa fa-user"></i>
              </div>

              <!-- class="btn btn-pri " -->
              <div class="form-input"><%= f.text_field :email, id: "email", class: "textflied", placeholder: "Email" %>
              <i class="icon fa fa-envelope"></i></div>
              <%= f.submit "Signup", class: "btn btn-pri" %>
            <% end %>
          <% end %>



        </div>
    </div>
  </div>
</section>
<!--  Events -->
<section class="events-listing newsection">
    <div class="container">

        <!-- Tabs memu -->
        <div class="tabs">
          <div class="event-container">
              <div class="row">
                <% @products.each do |product| %>
                  <div class="col-md-3">
                      <div class="event-listing">
                          <div class="eventsimg">
                            <%= link_to image_tag(product.product_thumb_image), product %>
                          </div>
                          <div class="event-content">
                              <h3 class="title"> <%= link_to product.title, product %></h3>
                              <p><%= product.subtitle %></p>

                              <%= form_tag charges_path, id:'chargesForm' do %>
                                <article>
                                  <% if flash[:error].present? %>
                                    <div id="error_explanation">
                                      <p><%= flash[:error] %></p>
                                    </div>
                                  <% end %>
                                </article>

                                <script src="https://checkout.stripe.com/checkout.js"></script>
                                <%= hidden_field_tag 'stripeToken' %>
                                <%= hidden_field_tag 'stripeEmail' %>
                                <%= hidden_field_tag 'sku', product.id %>
                                <a id="btn-buy" class="btn btn-pri"><i class="button-icon"></i>Buy ticket</a>
                                <script>
                                    var handler = StripeCheckout.configure({
                                      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                                      token: function(token, arg) {
                                        document.getElementById("stripeToken").value = token.id;
                                        document.getElementById("stripeEmail").value = token.email;
                                        document.getElementById("chargesForm").submit();
                                      }
                                    });
                                     document.getElementById('btn-buy').addEventListener('click', function(e) {
                                      handler.open({
                                        name: 'Cocoa Academy',
                                        description: '<%=  product.title %> ($300)',
                                        amount: <%=  product.price_in_cents %>
                                    });
                                    e.preventDefault();
                                   })
                                </script>
                              <% end %>
                          </div>
                          <div class="links clearfix">
                              <!-- <ul>
                                  <li><a class='st_sharethis_large' displayText='ShareThis'><i class="icon fa fa-share"></i> share</a></li>
                                  <li><a href="#"></li>
                                  <li><a href="#"></li>
                              </ul> -->
                          </div>
                      </div>
                  </div>
                <% end %>


              </div><!-- row -->
          </div>
        </div>
    </div>
</section>

<!-- <form>
    <div class="form-input search-location">
        <input type="text" value="" placeholder="Select Location">
        <i class="icon icon-s fa fa-search"></i>
        <button class="icon fa fa-globe"></button>
    </div>

    <div class="form-input ">
        <button class="btn btn-pri ">fınd event</button>
    </div>
</form> -->
