<style>
    .venue {
      background:url('<%= asset_path @product.location_image %>') bottom center no-repeat;
    }
</style>
<section class="event-detail productdetail">
    <div class="container">
        <h2 class="main-title "><a href="#"><%= @product.title.upcase %></a></h2>
        <!-- meta -->
        <!-- <ul class="meta clearfix">
            <li class="date"><i class="icon fa fa-calendar"></i> <%= @product.date %></li>
            <li><a href="#"><i class="icon fa fa-home"></i> <%= @product.location %></a>
            </li>
            <li><a href="#"><i class="icon fa fa-map-marker"></i><%= @product.city %></a>
            </li>
        </ul> -->
        <!-- event-detail-img -->
        <div class="event-detail-img">
            <%= image_tag(@product.product_image, alt: @product.title) %>
        </div>




    </div>
</section>

<!-- Events -->


<section class="limited">
  <%= form_tag charges_path, id:'chargesForm' do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>
    <%= hidden_field_tag 'sku', @product.id %>
    <a id="btn-buy" class="btn btn-pri"><i class="button-icon"></i>Buy ticket</a>
    <script>
        var handler = StripeCheckout.configure({
          key: '<%= Rails.configuration.stripe[:publishable_key] %>',
          token: function(token, arg) {
            document.getElementById("stripeToken").value = token.id;
            document.getElementById("stripeEmail").value = token.email;
            document.getElementById("chargesForm").submit();
          }
        });
         document.getElementById('btn-buy').addEventListener('click', function(e) {
          handler.open({
            name: 'Cocoa Academy',
            description: '<%=  @product.title %> ($500)',
            amount: <%=  @product.price_in_cents %>
        });
        e.preventDefault();
       })
    </script>
  <% end %>

</section>
