<div class="row pov">
  <div class="large-12 columns">
    <h1 class="text-center">
      Swift 101
      <small>Getting Started</small>
    </h1>
    <%= image_tag('workshop-pov.png', alt: 'iOS Beginners Workshop') %>
  </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <%= form_tag charges_path, id:'chargesForm' do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>
    <p class="text-center">In this workshop, we will build a Square Cash clone called My Dinero. During the one day workshop, we will use features such as SiriKit, Contacts and TouchID for security.  There is no experience necessary for attending this workshop.  The instructor, Craig Clayton, who wrote the book iOS 10 Programming for Beginners, will guide you step by step in buidling an iOS app.  By the end of the workshop, you will have a better understanding of how to create an iOS app for the lastest iOS.</p>
    <p class="text-center">
        <a id="limited-btn-buy" class="button custom-button">Buy ticket</a>
    </p>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>
    <%= hidden_field_tag 'amount', ("%.f" % @product.price) %>

    <script>
        var handler = StripeCheckout.configure({
          key: '<%= Rails.configuration.stripe[:publishable_key] %>',
          token: function(token, arg) {
            document.getElementById("stripeToken").value = token.id;
            document.getElementById("stripeEmail").value = token.email;
            document.getElementById("chargesForm").submit();
          }
        });
         document.getElementById('limited-btn-buy').addEventListener('click', function(e) {
          handler.open({
            name: 'Cocoa Academy',
            description: '<%=  @product.title %> ($<%= ("%.f" % @product.price) %>)',
            amount: <%=  @product.price_in_cents %>
        });
        e.preventDefault();
       })
    </script>
    <% end %>

    </div>
</div>

<div class="classfeatures">
    <div class="row listfeatures">
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature1.png', alt: 'feature 1') %></p>
            <div class="featuretext">
                <h2>Siri</h2>
                <p>Mauris auctor nulla vitae velit pellentesque, non pellentesque velit elementum. Suspendisse nec dapibus turpis. Integer lacinia sodales condimentum. Suspendisse et erat leo.</p>
            </div>
        </div>
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature2.png', alt: 'feature 2') %></p>
            <div class="featuretext">
                <h2>TouchID</h2>
                <p>Mauris auctor nulla vitae velit pellentesque, non pellentesque velit elementum. Suspendisse nec dapibus turpis. Integer lacinia sodales condimentum. Suspendisse et erat leo.</p>
            </div>
        </div>
        <div class="small-12 large-4 medium 4 columns">
            <p class="text-center"><%= image_tag('feature3.png', alt: 'feature 3') %></p>
            <div class="featuretext">
                <h2>Contacts</h2>
                <p class="text-center"> 
                Mauris auctor nulla vitae velit pellentesque, non pellentesque velit elementum. Suspendisse nec dapibus turpis. Integer lacinia sodales condimentum. Suspendisse et erat leo.</p>
            </div>
        </div>
    </div>
</div>
