
<!-- Events -->
<section class="events text-left newsection">
    <div class="container">
        <div class="row">
            <!-- col-md-12 -->
            <div class="col-md-12 col-sm-12">
                <!--Event Detail  -->
                <section class="event-detail newsection">
                    <h2 class="main-title "><a href="#"><%= @product.title %></a></h2>
                    <!-- meta -->
                    <ul class="meta clearfix">
                        <li class="date"><i class="icon fa fa-calendar"></i> Feb 17-19, 2014</li>
                        <li><a href="#"><i class="icon fa fa-home"></i> Grand Hotel Califonria</a></li>
                        <li><a href="#"><i class="icon fa fa-map-marker"></i>Istanbul / Turkey</a></li>
                    </ul>
                    <!-- event-detail-img -->
                    <div class="event-detail-img">
                      <%= image_tag('870x460.gif', alt: "Cocoa Academy") %>
                    </div>

                    <h3 class="title"><%= @product.subtitle %></h3>

                    <p><%= @product.description %></p>

                    <!-- Social Icon -->
                    <div class="social-icon">
                        <a href="#" class="facebook facebook-pagle">FACEBOOK PAGE</a>
                        <a href="#" class="facebook fa fa-facebook"></a>
                        <a href="#" class="twitter fa fa-twitter"></a>
                        <a href="#" class=" googleplus fa fa-google-plus"></a>
                        <a href="#" class="vimeo fa fa-vimeo-square"></a>
                        <a href="#" class="linkedin fa fa-linkedin"></a>
                    </div>
                </section>

                <!-- speakers-tabs -->
                <section class="speakers-tabs newsection">
                    <h2 class="title">Schedule with Speakers</h2>
                    <div id="speakers-tabs">

                        <ul class="speaker-ul resp-tabs-list clearfix">
                            <li>Monday, 9th</li>
                            <li>Tuesday, 11th</li>
                            <li>Wednesday, 12th</li>
                            <li>Monday, 9th</li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div>
                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                             <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>

                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Yaris Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Yaris Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Yaris Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley<span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley <span class="job"> Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Yaris Crowley <span class="job"> Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <div class="speakers">
                                    <div class="speaker clearfix">
                                        <div class="speaker-img">
                                           <%= image_tag('515x390.gif', alt: "Cocoa Academy") %>
                                        </div>
                                        <div class="speaker-content">
                                            <p class="author">Jane Crowley <span class="job">Web Expert</span></p>
                                            <h3 class="title"><a href="#">Using Social Services Increase Your Sales </a></h3>
                                            <ul class="meta clearfix">
                                                <li><i class="icon fa fa-times-circle-o"></i>08:00 to 18:00 pm</li>
                                                <li><a href="#"><i class="icon fa fa-map-marker"></i>Hall B</a></li>
                                            </ul>
                                            <p>Aliquam id metus purus. Aliquam ultricies massa a eros euismod mattis. Nunc commodo enim at commodo pellentesque. Etiam turpis eros, lobortis non libero vel, pharetra iaculis augue. [...] </p>
                                            <a href="#" class="btn btn-border">read more</a> <a href="#" class="btn btn-border">About Speaker</a>
                                        </div>
                                    </div>
                                    <div class="bar"><p><i class="icon fa fa-glass"></i>LETS HAVE A BREAK, ENJOY IT</p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <!--Ricket Resgister  -->
                <section class="ticket-resgister">
                    <h2 class="title centered">Get Tickets and Register Now</h2>
                    <div class="row">

                      <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                          <div class="ticket clearfix">
                              <h3 class="title">two day tıcket</h3>
                              <!-- ("%.2f" % 9999.99) -->
                              <div class="ticket-value"><span>$<%= ("%.f" % @product.price) %></span></div>
                              <ul>
                                  <li>Full-access to all sessions</li>
                                  <li>Free wifi at the conference</li>
                                  <li>Conference plus lunch coffee/snacks</li>
                              </ul>
                              <a href="#" class="btn btn-pri"><i class="button-icon fa fa-arrow-circle-o-down"></i>Regıster</a>
                          </div>
                      </div>


                    </div>

                    <a href="#" class="btn btn-pri btn-lg">seating is limited ‒ register now</a>
                </section>
            </div>
            </div>
        </div>
</section>
