<section class="event-detail productdetail">
    <div class="container">
        <h2 class="main-title "><a href="#"><%= @product.title %></a></h2>
        <!-- meta -->
        <ul class="meta clearfix">
            <li class="date"><i class="icon fa fa-calendar"></i> Feb 17-19, 2014</li>
            <li><a href="#"><i class="icon fa fa-home"></i> Grand Hotel Califonria</a>
            </li>
            <li><a href="#"><i class="icon fa fa-map-marker"></i>Istanbul / Turkey</a>
            </li>
        </ul>
        <!-- event-detail-img -->
        <div class="event-detail-img">
            <%= image_tag( '870x460.gif', alt: "Cocoa Academy") %>
        </div>
        <div class="col-md-8 col-sm-8">
          <h3 class="title"><%= @product.subtitle %></h3>
          <p><%= @product.description %></p>

          <!-- Social Icon -->
          <div class="social-icon">
              <a href="#" class="facebook facebook-pagle">FACEBOOK PAGE</a>
              <a href="#" class="facebook fa fa-facebook"></a>
              <a href="#" class="twitter fa fa-twitter"></a>
              <a href="#" class=" googleplus fa fa-google-plus"></a>
              <a href="#" class="vimeo fa fa-vimeo-square"></a>
              <a href="#" class="linkedin fa fa-linkedin"></a>
          </div>
        </div>

        <section class="ticket-resgister">
            <div class="col-md-3 col-sm-3 col-md-offset-1"">
                <div class="ticket clearfix">
                    <h3 class="title">two day event</h3>
                    <!-- ("%.2f" % 9999.99) -->
                    <div class="ticket-value"><span>$<%= ("%.f" % @product.price) %></span></div>
                    <ul>
                        <li>Full-access to all sessions</li>
                        <li>Free wifi at the workshop</li>
                        <li>Conference plus lunch coffee/snacks</li>
                    </ul>

                    <%= form_tag charges_path, id:'chargesForm' do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                      </article>

                      <script src="https://checkout.stripe.com/checkout.js"></script>
                      <%= hidden_field_tag 'stripeToken' %>
                      <%= hidden_field_tag 'stripeEmail' %>
                      <%= hidden_field_tag 'amount', 30000 %>
                      <%= hidden_field_tag 'title', @product.title %>
                      <%= hidden_field_tag 'sku', @product.id %>
                      <a id="btn-buy" class="btn btn-pri"><i class="button-icon fa fa-arrow-circle-o-down"></i>Regıster</a>
                      <!-- <button  type="button" class="btn btn-success btn-lg btn-block">Register</button> -->
                      <script>
                          var handler = StripeCheckout.configure({
                            key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                            token: function(token, arg) {
                              document.getElementById("stripeToken").value = token.id;
                              document.getElementById("stripeEmail").value = token.email;
                              document.getElementById("chargesForm").submit();
                            }
                          });
                           document.getElementById('btn-buy').addEventListener('click', function(e) {
                            handler.open({
                              name: 'Cocoa Academy',
                              description: '<%=  @product.title %> ($300)',
                              amount: 30000
                          });
                          e.preventDefault();
                         })
                      </script>
                    <% end %>
                </div>


                </div>

            <%= form_tag charges_path, id:'chargeForm' do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
              </article>

              <script src="https://checkout.stripe.com/checkout.js"></script>
              <%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %>
              <%= hidden_field_tag 'amount', ("%.f" % @product.price) %>
              <a id="limited-btn-buy" class="btn btn-pri btn-lg">seating is limited ‒ register now</a>
              <!-- <button  type="button" class="btn btn-success btn-lg btn-block">Register</button> -->
              <script>
                  var handler = StripeCheckout.configure({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    token: function(token, arg) {
                      document.getElementById("stripeToken").value = token.id;
                      document.getElementById("stripeEmail").value = token.email;
                      document.getElementById("chargesForm").submit();
                    }
                  });
                   document.getElementById('limited-btn-buy').addEventListener('click', function(e) {
                    handler.open({
                      name: 'Cocoa Academy',
                      description: '<%=  @product.title %> ($<%= ("%.f" % @product.price) %>)',
                      amount: 300.00
                  });
                  e.preventDefault();
                 })
              </script>
            <% end %>
        </section>

    </div>
</section>

<!-- Events -->
<section class="events text-left productdetail">
    <div class="row">
        <!-- col-md-12 -->
        <div class="col-md-12 col-sm-12">
            <section id="schedule">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="uppercase text-center">Schedule</h2>
                            <div id="days" class="owl-carousel">
                                <% @product.schedule_days.each do |day| %>
                                <div class="item uppercase">
                                    <h4 class="uppercase hidden-xs"><%= day.name %></h4>
                                </div>
                                <% end %>
                            </div>

                            <div id="timetable" class="owl-carousel owl-theme">
                                <%= render @product.schedule_days %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</section>

<section class="ticket-resgister">
</section>
