<!DOCTYPE html>
<html>
<head>
  <title>Cocoa Academy</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <% if notice %>
      <%= notice %>
    <% end %>
    <% if alert %>
      <%= alert %>
    <% end %>
      <div class="navbar-header">
          <div class="navbar-brand large-logo"><%= link_to image_tag("logo-large.png"), root_path %></div>
          <div class="navbar-brand scrolling-logo"><%= link_to image_tag("logo.png"), root_path %></div>
      </div>
  </div>
</header><!--/header-->


<%= yield %>

<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>Copyright © 2015 <%= link_to " Cocoa Academy LLC", root_path %>.  All rights reserved. </p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
